<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Wordpress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-card class="header-card">
    <img src="assets\img\espn.svg" width="400" height="400" />
    <ion-card-header>
    </ion-card-header>
  </ion-card>
  
  <!-- Primera tarjeta con título, detalles y botón -->
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="custom-title">Checo: "Los fans mexicanos realmente quieren a Max; la rivalidad es en pista"</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="custom-excerpt">El piloto mexicano aseguró que la afición mexicana quiere a Max Verstappen y responsabilizó a algunos medios sobre el ambiente tóxico que se ha generado en redes sociales entre él y su compañero en Red Bull.

        “Los fans mexicanos realmente quieren a Max. Ha estado muchas veces en México y ha subido al podio y lo han aplaudido”, recordó el tapatío de cara a la carrera de este fin de semana en el Autódromo Hermanos Rodríguez.
        
        Checo acusó que “algunos medios generan un ambiente tóxico, pero los verdaderos fans dan el apoyo a todos los pilotos durante el Gran Premio”.</p>
        <ion-button fill="outline" (click)="visitarEnlace('https://espndeportes.espn.com/deporte-motor/f1/nota/_/id/12781373/checo-perez-max-verstappen-rivalidad-red-bull-f1')">Visitar</ion-button>

      </ion-card-content>

  </ion-card>

  <!-- Segunda tarjeta con título, detalles y botón -->
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="custom-title">Max Verstappen: México es increíble y me han tratado muy bien</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="custom-excerpt">El tricampeón del mundo de Fórmula 1, Max Verstappen, se siente a gusto en México, apoyado y le parece que es un país increíble, lleno de historia y buenas personas.

        El piloto de Red Bull dijo al ser entrevistado por ESPN en el primer día de actividades oficiales para el Gran Premio de la Ciudad de México, que hasta ahora no ha tenido ningún problema a pesar de que en redes sociales y en algunos momentos ha sido abucheado por algunos asistentes a Grandes Premios.
        
        “Hasta ahora no he tenido ningún problema, he podido conocer a grandes personas, muchos fans, apoyándome, apoyando a Checo, al equipo. Hasta ahora no he notado nada malo”, señaló el joven neerlandés de 26, quien como cada año tiene un pequeño equipo de seguridad provisto por los organizadores, como lo tienen otros pilotos, sobre todo para facilitar sus traslados dentro del paddock.
        
        Al preguntársele expresamente que definiera a México en una palabra dijo: “increíble”.
        
        “Es un país increíble con mucha historia y es hermoso también, siempre es grandioso estar de regreso aquí donde tenemos un gran apoyo”, dijo con una gran sonrisa.</p>
      <ion-button fill="outline" (click)="visitarEnlace('https://espndeportes.espn.com/espnplus/nota/_/id/12781064/max-verstappen-red-bull-formula-1-gran-premio-mexico')">Visitar</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="custom-title">Lewis Hamilton: Checo va a estar motivado, pero espero darle una buena batalla</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="custom-excerpt">Lewis Hamilton sabe que Sergio Pérez va a estar motivado por correr en casa el Gran Premio de la Ciudad de México de Fórmula 1, pero cree que puede darle una buena batalla, sobre todo de cara a la pelea por el subcampeonato que actualmente tienen.

        Armado con un vaso de tequila en la mano (sin alcohol, por supuesto y de su marca Almave), Lewis Hamilton ingresó a la zona mixta de entrevistas del Gran Premio de la Ciudad de México con esa actitud ‘cool’ que le caracteriza y habló de sus expectativas para la carrera del domingo en el Autódromo Hermanos Rodríguez.
        
        “Él (Checo) va a tener motivación para su rendimiento, porque eso pasa cuando estás en casa. Así que espero que tenga un buen rendimiento”, señaló el siete veces campeón mundial. “Tuvimos un buen fin de semana (Austin) venimos ahora a México, donde tuvimos una buena carrera hace un año. Espero darle buena batalla (a Checo)”.
        
        En Austin, el auto Mercedes número 44 de Hamilton fue descalificado por tener un espesor menor al permitido en el fondo plano y Lewis no se quejó “reglas son reglas”. El problema es que si no lo hubieran excluido habría tenido sólo 19 puntos de desventaja con Checo Pérez en el Campeonato de Pilotos, pero ahora son 39.</p>
      <ion-button fill="outline" (click)="visitarEnlace('https://espndeportes.espn.com/deporte-motor/nota/_/id/12781458/lewis-hamilton-checo-perez-formula-1-gran-premio-mexico')">Visitar</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>

