/* Estilos personalizados para la página de Wordpress */
.header-card {
    margin: 16px;
    text-align: center;
    padding: 20px;
  }
  
  .custom-card {
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 16px;
  }
  
  .custom-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }


  