<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img src="assets/icon/favicon.png" width="400" height="400" />
    <ion-card-header>
      <ion-card-title style="color: #ffffff;">Dwanil R. Sánchez</ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="mail-unread-outline" style="color: #007bff;"></ion-icon>
        <span style="color: #ffffff;"> 202010553@itla.edu.do</span>
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-icon name="call-outline" style="color: #007bff;"></ion-icon>
        <span style="color: #ffffff;"> (849) 285-6833</span>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
