<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Universidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Introduce un país en inglés</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="custom-input-item">
        <ion-input type="text" [(ngModel)]="pais" class="custom-input" placeholder="Ingresa un país en inglés"></ion-input>
      </ion-item>
      <ion-button expand="block" shape="round" (click)="getUniversidades(pais)" id="universitiesBtn" fill="outline" class="custom-button">Generar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list class="custom-list">
    <ion-item-group *ngFor="let item of parsedJson">
      <ion-item-divider color="primary">{{ item.name }}</ion-item-divider>
      <ion-item>
        <ion-label>Domain: {{ item.domains[0] }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Web Page: {{ item.web_pages[0] }}</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
